<div class="container">
  <form>
    <div class="row mt-5">
      <div class="col">
        <label class="h2" for="projectName">
         Manage Project
        </label>
          <span class="h4">/</span>
          <input type="text" readonly class="form-control-inline" id="projectName" value="email@example.com">
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="templateName">Template</label>
          <input type="text" readonly class="form-control" id="projectName" value="email@example.com">
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
      Publish
    </label>
        </div>

      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h3>Dataflows</h3>
        <hr>
        <ul class="list-group">
          <li class="list-group-item active">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-3">
        <h3>Pipelines</h3>
        <hr>
        <ul class="list-group">
          <li class="list-group-item active">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-3">
        <h3>Containers</h3>
        <hr>
        <ul class="list-group">
          <li class="list-group-item active">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-3">
        <h3>Files</h3>
        <hr>
        <ul class="list-group">
          <li class="list-group-item active">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>

    </div>
  </form>
</div>
